<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="apps" version="1.0">
    <name>apps</name>
    <author>weelion</author>
    <description>get device installed apps</description>
    <keywords>cordova, installed apps</keywords>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/apps.js" name="Apps">
        <clobbers target="apps" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Apps">
                <param name="android-package" value="so.doo.app.plugins.Apps" />
            </feature>
        </config-file>
        <source-file src="src/android/Apps.java" target-dir="src/so/doo/app/plugins" />
    </platform>
</plugin>
